[global]
   workgroup = {{ samba_workgroup }}
   netbios name = {{ samba_netbios_name }}
   server role = standalone server
   map to guest = Bad User
   dns proxy = no

[{{ samba_share_name }}]
   path = {{ samba_share_path }}
   browsable = yes
   writable = yes
   guest ok = no
   create mask = 0660
   directory mask = 0770
